* {
    margin: 0px;
    padding: 0%;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.fullbody {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.logo {
    margin: 5px 200px;
    height: 50px;
    background: transparent;
}


ul{
    color: white;
    background-color: rgb(0, 0, 0);
    height: 70px;
    background-size: cover;
    border: solid red;
    border-radius: 13px;
    filter: drop-shadow(5px 5px 10px rgb(255, 0, 0));
 }
 li{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    margin-top: 5px;
    
 }
 li:hover{
    transition: .6s;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
 }

/* #navbar {
    background-color: rgb(0, 0, 0);
    height: 70px;
    background-size: cover;
    border: solid red;
    border-radius: 13px;
    filter: drop-shadow(5px 5px 10px rgb(255, 0, 0));
} */

/*.video-container {
     border: 3px solid rgb(240, 48, 35);
    border-radius: 30px;

} */

.video-container video {
    width: 350px;
    border-radius: 30px;
    /* border: 2px solid red; */
}

/* .video-container {
    width: 140px; /* Set the width  
    height: 100px; /* Set the height  
    margin: 0 auto; /* Center the container horizontally    
    background-color: #ffffff;   Background color for the container */
/* } */

/* Style the video element within the container */
/* .video-container video {
    width: 100%;  * Make the video fill the container width  
    height: 100%;  Make the video fill the container height */

/* Style the video controls (optional) */
/* .video-container video::-webkit-media-controls {
    background-color: rgba(161, 161, 161, 0.7); /* Customize control bar background */
/* color: #37865b;   */




a {
    filter: drop-shadow(5px 5px 10px rgb(255, 0, 0));
    text-align: justify;
    margin: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
}

.content {
    background-image: url(https://img.freepik.com/premium-vector/red-light-line-arrow-speed-direction-black-technology-background_33869-1462.jpg);
    /* background-image: url(https://img.freepik.com/free-photo/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper_1258-85317.jpg); */
    background-repeat: no-repeat;
    object-fit: cover;
    height: 450px;
    /* background-repeat: no-repeat; */
}

.heading {
    color: white;
    /*background-color: black;
    border: 3px solid red;
    border-radius: 10px; */
    font-size: 50px;
    filter: drop-shadow(5px 5px 10px rgb(255, 0, 0));
}

.innerdiv {
    background-color: rgba(0, 0, 0, 0.342);
    object-fit: cover;
    height: 450px;
    color: white;

}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 250px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgb(255, 0, 0));
}
button:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    height: 60px;
    width: 250px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
    transition: 0.6s;
}

.div {
    color: white;
    margin: 50px;
    width: 25%;
    height: 550px;
    background: transparent 100%;
    justify-content: flex-end;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.836);
    border: 3px solid rgba(255, 0, 0, 0.801);
    border-radius: 80px;

}

#skils {
    height: 100px;
}

.rule {
align-items: center;
    background-color: black;
    border-color: red;
    border: 3px solid rgba(255, 0, 0, 0.801);
    width: 92vw;
    border-radius: 50px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100vw;
    color: rgb(255, 255, 255);
    align-items: center;

}

.copyright {
    margin-left: 65%;
    margin-top: -60px;
    display: inline;
}

.copyright img{
    height: 35px;
    margin-top: -50px;
    display: inline-block ;
}

.copysymbol{
    margin-left: 10%;
    margin-top: 40px;
    
}

/* .copyright a {
    margin-left: 50px;
 
     padding-left;: 70px

} */

/* .facebook image{
     height: 100px;  
    /* margin: 750px;
    margin-top: 25px; */


/* .instagram img{
    height: 120px;
    width: 120px;
} */

/* position: absolute;                               Position relative to the image container 
top: 50%;                                               Adjust vertical position as needed  
left: 50%;                                              Adjust horizontal position as needed  
transform: translate(-50%, -50%);                     Center the content both horizontally and vertically 
background-color: rgba(255, 255, 255, 0.8);           Optional background color for better readability  
padding: 10px;  *Thank you for your business! We look forward to working with you again.